@import "./globals.scss";

.adminNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  color: wheat;
  margin: 0;
  padding: 0;
  text-align: center;
  #addProductBtn:hover {
    width: 100%;
  }
  #logo {
    text-decoration: none;
    color: beige;
    text-decoration: none;
  }
}
