@import "./globals.scss";

.adminNav {
  position:fixed;
  background: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  top: 0;
  #logo {
    text-decoration: none;
    color: beige;
    text-decoration: none;
  }
}
