@import './globals.scss';

.adminProduct{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 20;
    color: black;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background: rgb(228, 228, 228);
    border-radius: 10px;
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    #deleteBtn{
        margin: 0;
        background: red;
        color:white;
        width: 50%;
    }
    #updateBtn{
        margin: 0;
        background: black;
        color: white;
        width: 60%;
    }
}