@import './globals.scss';

.btn{
    transition: 0.4s;
    border-radius: 10px;
    width: 150px;
    margin: 0px auto;
    padding: 10px;
    font-family:$fontFamily;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: $secondaryColor;
    color:$primaryColor;
}
.btn:hover{
    transition: 0.4s;
    width: 200px;
    border-radius: 5px;
    color: white;
}