$navbarBackground:linear-gradient(92.85deg, rgba(3, 0, 30, 0.92) -0.08%, rgba(115, 3, 192, 0.92) 35.82%, rgba(236, 56, 188, 0.92) 93.27%, rgba(253, 239, 249, 0.92) 153.11%);
$primaryColor:#EC38BC;
$secondaryColor:#000;
$cardBackground:linear-gradient(180deg, #C4C4C4 -17.02%, #1B1A17 -17.01%, #7303C0 50.8%, #EC38BC 139.88%);
$fontFamily:'Roboto', sans-serif;