$navbarBackground:linear-gradient(90.61deg, #01A5C8 21.04%, #BE35FF 84.28%);
$primaryColor:white;
$secondaryColor:#01A5C8;
$cardBackground:linear-gradient(179.82deg, rgba(207, 207, 207, 0.5) 0.16%, rgba(207, 207, 207, 0) 99.84%);
$fontFamily:'Roboto', sans-serif;