@import './globals.scss';

.hover{
    width: 30%;
    position: fixed;
    top: 9%;
    right: 10%;
    z-index: 10;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    #sendBtn{
        background: black;
        color: white;
        margin-top: 20px;
    }
}