@import './globals.scss';

.orderItem{
    width: 93%;
    padding: 10px;
    background: white;
    color: black;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    .orderedProducts{
        width: 400px;
        height: 200px;
        overflow: auto;
        #totalTxt{
            font-weight: 700;
        }
    }
}