@import './globals.scss';

#sendOrder{
    height: 100vh;
    background: $cardBackground;
    .orderForm{
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        width: 60%;
        height: 80vh;
        margin:auto;
        border-radius: 20px;
    }
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        margin:0px 0px 0px 35px;
    }
}
label{
    text-align: center;
    margin: 10px;
    color: black;
}
#headerTxt{
    text-align: center;
    background: black;
    margin-top: 0;
}
#backBtn{
    position: fixed;
    top: 0;
    left: 0;
}
#submitBtn{
    width: 100%;
}